body {
  font-family: "Noto Serif TC", sans-serif;
}
.onItsWay {
  color: #00b0ff;
}

.comingSoon {
  color: green;
}

.arriving {
  color: red;
}
/*
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

*/
